<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Drive" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Zebble" version="4.4.277" targetFramework="monoandroid81" />
  <package id="Zebble.CheckBox" version="1.22.115" targetFramework="monoandroid81" />
  <package id="Zebble.IconButton" version="3.20.273" targetFramework="monoandroid81" />
  <package id="Zebble.ItemPicker" version="3.12.163" targetFramework="monoandroid81" />
  <package id="Zebble.ListView" version="4.10.157" targetFramework="monoandroid81" />
  <package id="Zebble.Media" version="1.1.105" targetFramework="monoandroid81" />
  <package id="Zebble.OptionsList" version="3.15.127" targetFramework="monoandroid81" />
  <package id="Zebble.SearchInput" version="3.18.272" targetFramework="monoandroid81" />
</packages>