<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Zebble" version="4.5.359" targetFramework="xamarinios10" />
  <package id="Zebble.CheckBox" version="1.22.116" targetFramework="xamarinios10" />
  <package id="Zebble.IconButton" version="3.20.273" targetFramework="xamarinios10" />
  <package id="Zebble.ItemPicker" version="3.12.164" targetFramework="xamarinios10" />
  <package id="Zebble.ListView" version="4.10.169" targetFramework="xamarinios10" />
  <package id="Zebble.Media" version="1.1.115" targetFramework="xamarinios10" />
  <package id="Zebble.OptionsList" version="3.15.127" targetFramework="xamarinios10" />
  <package id="Zebble.SearchInput" version="3.18.272" targetFramework="xamarinios10" />
</packages>