<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Zebble" version="4.1.298" targetFramework="xamarinios10" />
  <package id="Zebble.CheckBox" version="1.22.109" targetFramework="xamarinios10" />
  <package id="Zebble.IconButton" version="3.20.267" targetFramework="xamarinios10" />
  <package id="Zebble.ItemPicker" version="3.12.143" targetFramework="xamarinios10" />
  <package id="Zebble.ListView" version="3.17.129" targetFramework="xamarinios10" />
  <package id="Zebble.OptionsList" version="3.14.114" targetFramework="xamarinios10" />
  <package id="Zebble.SearchInput" version="3.18.263" targetFramework="xamarinios10" />
</packages>