<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Zebble" version="4.4.101" targetFramework="xamarinios10" />
  <package id="Zebble.CheckBox" version="1.22.110" targetFramework="xamarinios10" />
  <package id="Zebble.IconButton" version="3.20.268" targetFramework="xamarinios10" />
  <package id="Zebble.ItemPicker" version="3.12.155" targetFramework="xamarinios10" />
  <package id="Zebble.ListView" version="3.17.143" targetFramework="xamarinios10" />
  <package id="Zebble.Media" version="1.1.100" targetFramework="xamarinios10" />
  <package id="Zebble.OptionsList" version="3.14.123" targetFramework="xamarinios10" />
  <package id="Zebble.SearchInput" version="3.18.266" targetFramework="xamarinios10" />
</packages>